.compact-candidate-form .ant-form-item {
  margin-bottom: 16px;
}


.update-btn {
  margin-right: 10px;
}

.review-btn {
  background: #faad14;
  color: #fff;
  border: none;
}

.review-btn:hover {
  background: #d48806;
  color: #fff;
}
